body{
	overflow:hidden;
	background-image: url('weather image.jpg');
	background-size: 100vw;
	background-position: top;
}
h1{
	margin:0;
	margin-left: 150px;
	padding:0;
	position:absolute;
	top:55px;
	text-align: center;
	font-family: Impact;
}
#widget-wrapper{
	width:620px;
	height:400px;
	margin:50px auto;
	padding:50px;
	border-radius: 10px;
	background-color:  rgba(102,194,255,0.7);
}
#weather-canvas{
	width: 350px;
	margin:90px auto 0px ;
}
#city-results{
	width: 300px;
	display:inline;

}
#city-info{
	position:absolute;
	width:265px;
	padding-left:30px;
	display:inline;
	border-radius:10px;
	top:140px;
	background-color: #3399ff;
}
#city-info img{
	width:75px;
}
#city-info #city-name{
	margin: 0;
	font-size: 32px;
}
#city-info #condition{

}
#search-wrapper{
	margin-left: 160px;
	width: 330px;
	float:left;
}

#search-wrapper #search-field{
	width:269px;
	padding:1%;
	display: inline;
	border-radius: 5px;
}
#wind-arrow{
	transition: transform 2s cubic-bezier(0.09,0.25,0.49,1.58);
	position:absolute;
	top:200px;
	left:50px;

}
#forecast-button{

	margin-top:1%;
}
#forecast{
	position:absolute;
	top:440px;
}
#search-wrapper #search-field{
	border-radius: 10px;
}
#search-wrapper .button{
	padding:1%;
	border-radius: 5px;
	background-color: white;
	color:#66c2ff;
}
#compass{
	height:100px;
	width:100px;
margin-left:50px;

}
#N, #E, #S, #W{
	position:absolute;
	font-weight: bold;
	font-size: 20px;

}
#N{
	top:165px;
	left:80px;
}
#E{
	top:210px;
	left:130px;
}
#S{
	top:250px;
	left:81px;
}
#W{
	top:210px;
	left:30px;
}
.days{
	display: inline;
	position:absolute;
	top: 20px;
	float:left;
	text-align: center;
	background-color: #3399ff;
	color:black;
	font-size: 14px;
	width:75px;
	padding:10px;
	border-radius: 10px;
}
.highs{
	display:block;
}
.bold{
	font-weight: bold;
}
#day0{
	left:-40px;
}
#day1{
	left:60px;
}
#day2{
	left:160px;
}
#day3{
	left:260px;
}
#day4{
	left:360px;
}
#day5{
	left:460px;
}
#day6{
	left:560px;
}
#day7{
	left:660px;
}





