body{
	overflow:hidden;
}
#widget-wrapper{
	width:620px;
	height:420px;
	margin:10px 0px;
	padding:50px;
	border-radius: 10px;
	background-color: #66c2ff;
}
#weather-canvas{
	width: 350px;
	margin:50px 10px 0px 50px;
}
#city-results{
	width: 300px;
	display:inline;
}
#city-info{
	position:absolute;
	width:340px;
	display:inline;
	top:100px;
	left:420px;
}
#city-info img{
	width:75px;
}
#city-info #city-name{
	margin: 0;
	font-size: 32px;
}
#city-info #condition{

}
#search-wrapper{
	width: 530px;
}

#search-wrapper #search-field{
	width:450px;
	padding:1%;
	display: inline;
	border-radius: 5px;
}
#wind-arrow{
	transition: transform 2s;
	position:absolute;
	top:200px;
	left:50px;

}
#forecast-button{

	margin-top:1%;
}
#forecast{
	position:absolute;
	top:400px;
}
#search-wrapper .button{
	padding:1%;
	border-radius: 5px;
	background-color: white;
	color:#66c2ff;
}
#compass{
	height:100px;
	width:100px;
margin-left:50px;

}
#N, #E, #S, #W{
	position:absolute;
	font-weight: bold;
	font-size: 20px;

}
#N{
	top:165px;
	left:80px;
}
#E{
	top:210px;
	left:130px;
}
#S{
	top:250px;
	left:81px;
}
#W{
	top:210px;
	left:30px;
}
.days{
	display: inline;
	position:absolute;
	float:left;
	text-align: center;
	background-color:blue;
	color:white;
	width:70px;
	padding:10px;
	margin:0px 5px;
	border-radius: 10px;
}
.highs{
	display:block;
}
.bold{
	font-weight: bold;
}
#day0{
	left:-40px;
}
#day1{
	left:60px;
}
#day2{
	left:160px;
}
#day3{
	left:260px;
}
#day4{
	left:360px;
}
#day5{
	left:460px;
}
#day6{
	left:560px;
}
#day7{
	left:660px;
}





